body{
  font-family: 'Lato', 'Arial', sans-serif;
}

/* Navigation bar */
.navbar {
  font-family: 'Cairo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9ff;
  padding: 30px 60px; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
}

.logo a {
  display: inline-block;
  cursor: pointer;
}

.logo img {
  width: 70px; 
  height: auto;
  border-radius: 50%; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000000;     
  font-weight: 300;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #005599;
}

.sign-in-btn {
  position: absolute;
  right: 40px;       
  background-color: #003366;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sign-in-btn:hover {
  background-color: #005599;
}

.college-hero {
  background-image: url('../Images/قسم\ علوم\ الحاسب.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.college-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.college-hero h1 {
  position: relative;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  z-index: 2;
  text-align: center;

}
h1.highilght{
  position: relative;
  top: -10px;
  font-size: 20px;

}
.college-hero {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 1.1s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about {

  text-align: center;
  background: #ffffff;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
}

.about p {
  width: 70%;
  margin: auto;
  line-height: 1.8;
  font-size: 18px;
  color: #555;
}
.department-page {
  display: flex;
  gap: 25px;
  padding: 30px;
  flex-wrap: wrap;
  direction: rtl;
  font-family: "Segoe UI", sans-serif;
}

/* صور القسم */
.gallery {
  flex:1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap:10px;
  padding: 0px;
}

.gallery img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* التفاصيل */
.details-slider {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  text-align: left;
}

.details-slider h2 {
  margin-bottom: 15px;
  color: #333;
}

/* بوكس التفاصيل */
.detail-box {
  background: #fafafa;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.detail-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px;
  color: #003366;
}

.detail-box h4 {
  margin-bottom: 6px;
}

.detail-box h4 :hover {
  color: #003366;
}
.detail-box a {
  font-weight:400;
  color:black;
}

.detail-box a:hover {
  color: #003366;
}
.medi-footer{
  margin-top: 30px;
  background-color: #fff;
  padding: 40p 0;
  box-shadow: 0 4px 20px rgba(208, 204, 204, 0.667);
}

.logo-img{
    width: 130px;
    height: auto;
    background: #ffffff;
    
}