body {
  font-family: 'Lato', 'Arial', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-image: url('../Images/Background.jpg');
  background-size: cover; 
  background-repeat:no-repeat; 
  background-attachment: scroll;
  background-position: center;
}

/* Navigation bar */
.navbar {
  font-family: 'Cairo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9ff;
  padding: 30px 60px; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
}

.logo a {
  display: inline-block;
  cursor: pointer;
}

.logo img {
  width: 70px; 
  height: auto;
  border-radius: 50%; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000000;     
  font-weight: 300;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a.active {
  font-weight: bold;
  color: #003366;   
}

.nav-links a:hover {
  color: #005599;
}

.sign-in-btn {
  position: absolute;
  right: 40px;       
  background-color: #003366;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sign-in-btn:hover {
  background-color: #005599;
} 

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  overflow: hidden; 
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
  object-fit: cover;
  z-index: 0; 
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2; 
}

.overlay h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.overlay p {
  font-size: 19px;
  margin-bottom: 25px;
  color: #fff;
} 

.search-box {
  display: flex;
  align-items: center;
  width: 60%;
  max-width: 500px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-btn {
  padding: 12px 15px;
  background: #003366;     
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 0px 0px 30px;     
  width: 48px;               
  height: 48px;             
  transition: 0.3s;
}

.search-btn i {
  color: #fff;                
  font-size: 16px;
}

.search-btn:hover {
  background: #005599;   
}

.custom-dropbtn,
.custom-dropbtn:focus,
.custom-dropbtn.show {
  background-color: #003366 !important;
  color: #fff !important;
  border: none;
  outline: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
}

.custom-dropbtn:hover {
  background-color: #005599 !important;
  color: #ffffff;
} 

/* Education Section (Universities & Institutes) */
.education-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  gap: 60px;
  margin: 80px auto;
  width: 85%;
  flex-wrap: wrap;
}

.card {
  all: unset;
  text-align: center;
  flex: 1;
  min-width: 300px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  color: #333;
  margin-bottom: 15px;
}

.image-box {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 230px;
  width: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.image-box.uni {
  background-image: url('../Images/university.jpeg');
}

.image-box.institute {
  background-image: url('../Images/institute.jpeg');
}

.buttons-uni {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 12px;
}

.uni-btn {
  background-color: #003366;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 22px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.uni-btn:hover {
  background-color: #005599;
}

/* Other Services Section */
.other-services {
  padding: 40px 0;
  text-align: center;
}

.section-heading {
  font-size: 30px;     
  font-weight: 600;     
  color: #000000;        
  margin-bottom: 70px;  
}

.services-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
  margin-top: 25px;
}

.brochure-card {
  perspective: 1200px;
  width: 450px;
  cursor: pointer;
}

.brochure-card:hover .brochure-inner {
  transform: rotateY(180deg);
}

.brochure-inner {
  position: relative;
  width: 100%;
  height: 320px;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.brochure-front,
.brochure-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,.12);
  backface-visibility: hidden;
  background: white;
}

.brochure-front img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.arrow-circle {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.arrow-circle i {
  color:#003366;
  font-size: 18px;
}

.brochure-title {
  padding: 14px;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.brochure-back {
  background:#003366;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.brochure-back a {
  background: white;
  color:#003366;
  font-weight: bold;
  display: block;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.medi-footer{
  margin-top: 30px;
  background-color: #fff;
  padding: 40p 0;
  box-shadow: 0 4px 20px rgba(208, 204, 204, 0.667);
  
}

.logo-img{
  width: 130px;
  height: auto;
  background: #ffffff;
}

/* Mobile Responsive*/
@media (max-width: 576px) {
  /* Hero */
  .hero {
    height: 500px;
  }

  .overlay h1 {
    font-size: 26px;
    text-align: center;
  }

  .overlay p {
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
  }

  .search-box {
    width: 90%;
  }

  /* Education Section */
  .education-section {
    flex-direction: column;
    gap: 40px;
    width: 95%;
  }

  .card {
    min-width: 100%;
  }

  .image-box {
    height: 180px;
  }

  /* Services */
  .services-wrapper {
    gap: 40px;
  }

  .brochure-card {
    width: 90%;
  }

  .brochure-inner {
    height: 300px;
  }

  .brochure-title {
    font-size: 18px;
  }

/* Footer */
  .medi-footer {
    padding: 30px 15px;
  }
  
  .medi-footer .row {
    flex-direction: column;
    text-align: center;
  }
  
  .medi-footer .col-6,
  .medi-footer .col-12,
  .medi-footer .col-md-2,
  .medi-footer .col-md-4 {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .logo-img {
    width: 90px;
  }

}
