* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Lato', 'Arial', sans-serif;
  background-image: url('../Images/Background.jpg');
  background-size: cover; 
  background-repeat:no-repeat; 
  background-attachment: scroll;
  background-position: center;
  overflow-x: hidden;
  
}

/* Navigation bar */
.navbar {
  font-family: 'Cairo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9ff;
  padding: 30px 60px; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
  position: relative;
  
}

.logo {
  position: absolute;
  left: 40px;
}

.logo a {
  display: inline-block;
  cursor: pointer;
}

.logo img {
  width: 70px; 
  height: auto;
  border-radius: 50%; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000000;     
  font-weight: 300;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #005599;
}

.sign-in-btn {
  position: absolute;
  right: 40px;       
  background-color: #003366;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sign-in-btn:hover {
  background-color: #005599;
}
.fixed-header {
  height: 50vh;
  position: relative;
  overflow: hidden;
  background-image: url('../Images/group-people-working-out-business-plan-office.jpg');
  background-size: cover;
  background-position: center; /* أو right */
  background-repeat: no-repeat;
  filter: brightness(87%);
}

.fixed-header {
  height: 50vh;   
  position: relative;
  overflow: hidden;
}
    .header-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }  

.one { 
  background-color: #e6e2e5;
}

.job {
  color: black;
  margin-bottom: 35px;
}

.job-card {
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition:transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  z-index: 10;
}
.job-card img {
  width: 100px;
  height: auto;
  display: block;
  margin:100px auto 0; 
}

.job-card img {
  width: 100px;
  height: auto;
margin-top: 20px;
}

.job-card a {
  text-decoration: none;
  color: #005599;
  font-weight: 600;
}

.job-card a:hover {
  text-decoration: underline;
}

button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
 
}

.custom-card {
  width: 23rem;
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.company-logo {
  width: 70px;
  margin: 15px auto;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel {
  margin-top: 40px;
  margin-bottom: 50px;
}

.btn-primary {
  border-radius: 25px;
  background-color: #005599;;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

h5.card-title {
  margin-top: 10px;
  color: #333;
}

p.card-text {
  color: #555;
}

.card {
position: relative;
overflow: visible !important;
}

.card-body {
  padding-bottom: 1.5rem;
 
}

.details-btn {
  background-color: #005599!important;
  color: white!important;
  border: 2px solid white !important;
}

.details-btn:hover {
  background-color: #135cca !important;
  color: white !important;
}

button.btn.bg-info.bg-opacity-25:hover {
  background-color: #0d6efd !important;
  color: white !important; 
}

.card {
  transition: transform 0.3s ease,
   box-shadow 0.3s ease;
  cursor: pointer; 
  z-index: 1;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(0,0,0,0.3); 
  z-index: 10; 
}

.carousel{
  overflow: visible!important;
}
.carousel-inner {
  overflow: visible;
  max-width: 100%;
}

.carousel-item {
  overflow: visible;

}

.medi-footer{
  margin-top: 30px;
  background-color: #fff;
  padding:  0;
  box-shadow: 0 4px 20px rgba(208, 204, 204, 0.667);
  
}

.logo-img{
  width: 130px;
  height: auto;
  background: #ffffff;
}