body {
  font-family: 'Lato', 'Arial', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-image: url('../Images/Background.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: scroll;
  background-position: center;
}

/* Navigation bar */
.navbar {
  font-family: 'Cairo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9ff;
  padding: 30px 60px; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
}

.logo a {
  display: inline-block;
  cursor: pointer;
}

.logo img {
  width: 70px; 
  height: auto;
  border-radius: 50%; 
  box-shadow: 0 2px 6px rgba(166, 166, 166, 0.3);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000000;     
  font-weight: 300;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #005599;
}

.sign-in-btn {
  position: absolute;
  right: 40px;       
  background-color: #003366;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sign-in-btn:hover {
  background-color: #005599;
}

.hero {
  height: 50vh;
  background-image: url("../Images/must.jpeg");
  background-size: cover;      
  background-position: center; 
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.college-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); 
}

.hero h1 {
  position: relative;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  z-index: 2;
}

.college-hero {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 1.1s ease-out forwards;
}

/* Cards */
.brochure-card {
  perspective: 1200px;
  cursor: pointer;
}

.brochure-card:hover .brochure-inner {
  transform: rotateY(180deg);
}

.brochure-inner {
  position: relative;
  width: 100%;
  height: 340px;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.brochure-front,
.brochure-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,.12);
  backface-visibility: hidden;
  background: white;
}

.brochure-front img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.arrow-circle {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-left: auto;
}

.arrow-circle i {
  color: #003366;
  font-size: 18px;
}

.brochure-title {
  padding: 14px;
  font-weight: bold;
  text-align: center;
}

.brochure-back {
  background: #003366;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.brochure-back a {
  background: white;
  color: #003366;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.medi-footer {
  margin-top: 30px;
  background-color: #fff;
  padding: 40px 0;
  box-shadow: 0 4px 20px rgba(208, 204, 204, 0.667);
}

.logo-img {
  width: 130px;
  height: auto;
  background: #ffffff;
}